@charset "UTF-8";

@import "_reset";
@import "_common";


$bg_line_color:#f7f7f7;
$main_color:#08cacc;
$nav_h_fs:20px;
$nav_h_color:black;

$nav_h_sub:17px;
$nav_sub_color:#8d8d8d;

$title_d_size:12px;
$text_size:14px;
$sub_color:#9a9c9d;
$sub_fs:18px;

$game_box_bgc:#eaeaea;

@mixin hover {
    &:hover {
        transform: scale(1.1);
    }
}

body {

    .section {
        position: relative;
        margin-top: 80px;
        padding: 0;
        // margin-bottom: -70px;
        // padding-bottom: 0;

        .phone {
            vertical-align: top;
            display: inline-block;
            font-size: 0;
            position: absolute;
            left: 18.75%;
            z-index: 1;
            width: 18.75%;
            height: 39.4vw;
            overflow: hidden;

            .phone_img {
                width: 100%;
            }

            .carousel {
                position: absolute;
                left: 5.5%;
                top: 12%;
                width: 90%;
                height: 74%;
                margin: 0 auto;
                background-color: black;
                border-radius: 5px;

                .carousel_frame {
                    position: absolute;
                    left: 3%;
                    top: 1.5%;
                    // display: none;
                    background-color: black;
                    width: 94.5%;
                    height: 96.8%;
                    overflow: hidden;

                    .carousel_bar {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 400%;
                        height: 100%;
                        font-size: 0;

                        li {
                            // position: absolute;
                            width: 25%;
                            height: 100%;
                            display: inline-block;

                            // font-size: 0;
                            img {
                                // position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }
                        }
                    }
                }

                .dot {
                    position: absolute;
                    bottom: 10px;
                    text-align: center;
                    width: 100%;

                    li {
                        display: inline-block;
                        color: white;
                        margin: 0 2px;

                        // box-shadow: 0 0 2px $main_color;
                        &.active>.icon-dot::before {
                            color: $main_color;
                            text-shadow: 0 0 3px $main_color;

                        }

                        .icon-dot {
                            font-size: 11px;
                        }
                    }


                }

            }
        }


        .game_detail {
            position: relative;
            display: inline-block;
            // font-size: 0;
            left: 44.1%;
            top: 0;
            width: 40%;

            // padding-left: 110px;
            // background-color:red;
            .game_name {
                text-align: center;
                font-size: 32px;
                color: black;
                margin-bottom: 30px;

                &::before {
                    content: "";
                    display: block;
                    border: 5px solid #ffd205;
                    width: 40px;
                    margin: 0 auto 20px;
                    border-radius: 5px;
                }
            }

            .text {
                font-size: 12px;
                color: #535556;
                text-align: justify;
            }

            .game_detail_panel {
                text-align: center;
                margin-top: 50px;

                li {
                    display: inline-block;
                    transition: .3s;
                    margin: 0 5px;

                    &:hover {
                        @include hover;
                    }

                    a {
                        display: block;
                        height: 36px;
                        padding: 0 25px;
                        line-height: 36px;
                        cursor: pointer;
                        color: #0c595a;
                        border: 1px solid #c5c5c4;
                        border-radius: 25px;
                        background-color: white;
                    }
                }
            }
        }

        .game_detail2 {
            &::before{
                content:"";
                display: block;
                width:100%;
                position: absolute;
                top:-10px;
                left: 0;
                // background-color: red;
                background-image: radial-gradient($main_color 71%, transparent 0);
                background-size: 10px 16px;
                background-repeat: repeat-x;
                background-position: 0 0;
                // z-index: 2;
                height: 40px;
                line-height: 40px;
                
            }
            position: relative;
            margin-top: 75px;
            width: 100%;
            height: 313px;
            background-color: $main_color;

            .detail2_content {
                position: relative;
                display: inline-block;
                // font-size: 0;
                left: 44.1%;
                top: 0;
                width: 48%;

                .icon_box {
                    display: inline-block;
                    margin-top: 50px;
                    font-size: 0;
                    width: 120px;
                    text-align: center;
                    margin-right: 20px;

                    i {
                        display: inline-block;
                        width: 85px;
                        height: 85px;
                        color: white;
                        font-size: 35px;
                        border: 2px solid white;
                        line-height: 85px;
                        vertical-align: middle;
                        border-radius: 50%;
                        margin-bottom: 25px;

                        // &:before{
                        //     vertical-align: middle;
                        // }
                    }

                    h4 {
                        font-size: 18px;
                        color: white;
                        font-weight: normal;
                        margin-bottom: 2px;
                    }

                    p {
                        font-size: 18px;
                        color: #a5e6e6;
                        font-weight: normal;
                    }
                }
            }

        }

    }

    .content_frame {
        .step_section {
            padding-bottom: 120px;
        }
    }


}

@media screen and (max-width: 1200px) {
    body {
        .section {
            .phone {

                left: 10%;
            }
            .game_detail {
                // font-size: 0;
                left: 35%;

                width: 55%;
            }

            .game_detail2 {

                margin-top: 75px;
                width: 100%;
                height: 313px;
                background-color: $main_color;
    
                .detail2_content {
                    left:35%;
                    width: 60%;
                    .icon_box {
                        display: inline-block;
                        margin-top: 50px;
                        font-size: 0;
                        width: 120px;
                        text-align: center;
                        margin-right: 0px;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 850px) {
    body {
        .section {
            .phone {

                left: 10%;
            }
            .game_detail {
                // font-size: 0;
                left: 35%;

                width: 55%;
                .game_detail_panel {
                    text-align: center;
                    margin-top: 50px;
    
                    li {
                        display: inline-block;
                        transition: .3s;
                        margin: 0 5px;
    
                        &:hover {
                            @include hover;
                        }
    
                        a {
                            display: block;
                            height: 36px;
                            padding: 0 10px;
                            line-height: 36px;
                            cursor: pointer;
                            color: #0c595a;
                            border: 1px solid #c5c5c4;
                            border-radius: 25px;
                            background-color: white;
                        }
                    }
                }
            }

            .game_detail2 {

                // margin-top: 75px;
                // width: 100%;
                height: 200px;
                background-color: $main_color;
    
                .detail2_content {
                    left:0%;
                    width: 100%;
                    text-align: center;
                    .icon_box {
                        display: inline-block;
                        margin-top: 50px;
                        font-size: 0;
                        width: 90px;
                        text-align: center;
                        margin-right: 0px;
                        i {
                            display: inline-block;
                            width: 50px;
                            height: 50px;
                            color: white;
                            font-size: 20px;
                            border: 2px solid white;
                            line-height: 50px;
                            vertical-align: middle;
                            border-radius: 50%;
                            margin-bottom: 15px;
    
                            // &:before{
                            //     vertical-align: middle;
                            // }
                        }
    
                        h4 {
                            font-size: 14px;
                            
                            margin-bottom: 0px;
                        }
    
                        p {
                            font-size: 14px;
                            font-weight: normal;
                        }
                    }
                }
            }

        }
    }
}


@media screen and (max-width: 700px) {
    body {
        .section {
            margin-top: 20px;
            .phone {
                position: relative;
                width:50%;
                height: auto;

                left: 25%;
            }
            .game_detail {
                // font-size: 0;
                left: 0;
                display: block;
                // position: static;
                margin: 0 auto;
                width: 80%;
                .game_name {
                    margin-top: 30px;
                }
                .game_detail_panel {
                    text-align: center;
                    margin-top: 50px;
    
                    li {
                        display: block;
                        margin: 0 5px 10px;
    
                        &:hover {
                            @include hover;
                        }
    
                        
                    }
                }
            }

            .game_detail2 {

               
                height: 300px;

    
                .detail2_content {
                    left:0%;
                    text-align: center;
                    width: 100%;
                    .icon_box {
                        display: inline-block;
                        margin-top: 30px;
                        width: 40%;
                        text-align: center;
                        margin-right: 0px;
                       
                    }
                }
            }

        }


    }
}